language: c
before_install:
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
- "./travis-tool.sh bootstrap"
install:
- "./travis-tool.sh install_deps"
- "./travis-tool.sh install_r testthat"
- "./travis-tool.sh github_package jimhester/covr"
script: "./travis-tool.sh run_tests"
after_failure:
  - "./travis-tool.sh dump_logs"
after_success:
  - "Rscript -e 'library(covr);coveralls()'"
notifications:
  email:
    on_success: change
    on_failure: change
  hipchat:
    rooms:
      secure: GDN5sewhn1+yvqn9pGtmnrQRXwR2CPWB7NWvVFnb7EcC9KjbusslhDTsShcnij1n0GRzNl92ECtH4UtJNCBnD5wUANBqqyrlrchzH8cPXo+UkXjX/pE+/973IMCSTzNdT3q8EG2cvek0Spqc/sKa1yxkQUJGHdOQYgP4nGtliuw=
    on_success: change
    on_failure: change
    template:
    - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}
      | Details: %{build_url} | Changes: %{compare_url}"
